[Unit]
Description=Bring up a dummy source interface
Wants=network-online.target
Before=snap.docker.dockerd.service

[Service]
ExecStart=/sbin/ip link add dev dum0 type dummy
ExecStart=/sbin/ip addr add 10.12.1.100/24 dev dum0
ExecStart=/sbin/ip link set up dev dum0

ExecStop=/sbin/ip link del dev dum0

Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
