[Unit]
Description=Tack on an upstream nat that avoids the DOCKER-ISOLATION
Wants=network-online.target
After=snap.docker.dockerd.service

[Service]
ExecStart=/sbin/iptables -t nat -A POSTROUTING -o bup0 -j MASQUERADE
ExecStart=/sbin/iptables -I FORWARD 1 -i brf0 -j ACCEPT
ExecStart=/sbin/iptables -I FORWARD 1 -i bdn0 -j ACCEPT
ExecStart=/sbin/iptables -I FORWARD 1 -i bup0 -m state --state RELATED,ESTABLISHED -j ACCEPT

ExecStop=/sbin/iptables -t nat -D POSTROUTING -o bup0 -j MASQUERADE
ExecStop=/sbin/iptables -D FORWARD -i brf0 -j ACCEPT
ExecStop=/sbin/iptables -D FORWARD -i bdn0 -j ACCEPT
ExecStop=/sbin/iptables -D FORWARD -i bup0 -m state --state RELATED,ESTABLISHED -j ACCEPT

Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
